        <head>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head>
<center>
        <br>
<div id="loader" class="loader" ng-hide="$root.states.length>0 && statCtrl.loaded"></div>
<div ng-init="statCtrl.getStates()"></div>
        <!-- <div id="statesDataTableDiv" class="table-responsive"> -->
                
            <table id="statesTbl" class="table table-striped table-bordered table-sm" cellspacing="0">
            <thead>
                <tr>
                        <th class="th-sm" ng-repeat="(header, value) in $root.states[0]">
                                {{header}}
                        </th>
                </tr>
            </thead>
              <tbody>
                <tr ng-repeat="rowData in $root.states" ng-init="$last && statCtrl.load()">
                        <td class="cell100 column1" ng-repeat="cellData in rowData">
                                {{cellData}}
                        </td>
                </tr>
              </tbody>
          </table>
        <!-- </div> -->
        <!-- </div>
      </div>
      </div> -->