
<h1>Amsterdam</h1>

<div>
    <p>Amsterdam is the Netherlands’ capital, known for its artistic heritage,
         elaborate canal system and narrow houses with gabled facades,
          legacies of the city’s 17th-century Golden Age. Its Museum District houses the Van Gogh Museum,
           works by Rembrandt and Vermeer at the Rijksmuseum, and modern art at the Stedelijk.
            Cycling is key to the city’s character, and there are numerous bike paths.</p>

        <p>
                Weather: 18°C, Wind SW at 27 km/h, 71% Humidity <br>
                Local time: Monday 19:55<br>
                Elevation: −2 m (−7 ft)<br>
                Today part of: Netherlands<br>
                Language: Dutch language<br>
        </p>
    

</div>